@model AzureSearch.Models.Publico.Models.SearchDataModel

<div class="row my-2">
    <div class="col-md-6">
        @if (Model.Results.TotalCount > 0)
        {
            <p>
                Se han encontrado <strong>@String.Format("{0:###,###,###}", Model.Results.TotalCount)</strong> fichas-producto,
                descarga los resultados <a href="#" class="btn-download text-purple text-bold">aqu&iacute;</a>
            </p>            
        }
        else
        {
            <p>No se han encontrado fichas-producto</p>
        }
    </div>
    <div class="col-md-6">
        @if (Model != null && Model.Pagination.PageCount > 1)
        {
            <div class="btn-toolbar" role="toolbar" aria-label="" style="justify-content: flex-end;">
                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                    @if (Model.Pagination.CurrentPage > 0)
                    {
                        @*@Html.ActionLink("|<", "PageAsync", "FichaProducto", new { paging = "0" }, new { @class = "btn btn-secondary bg-purple text-white" })*@
                        <button type="button" class="btn btn-secondary bg-purple text-white btn-paging" data-paging="0">|&lt;</button>
                    }
                    else
                    {
                        <buttonn type="button" class="btn bg-purple-05 text-gray-05 disabled">|&lt;</buttonn>
                    }
                </div>
                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Second group">
                    @if (Model.Pagination.CurrentPage > 0)
                    {
                        @*@Html.ActionLink("<", "PageAsync", "FichaProducto", new { paging = "prev" }, new { @class = "btn btn-secondary bg-purple text-white" })*@
                        <button type="button" class="btn btn-secondary bg-purple text-white btn-paging" data-paging="prev">&lt;</button>
                    }
                    else
                    {
                        <buttonn type="button" class="btn bg-purple-05 text-gray-05 disabled">&lt;</buttonn>
                    }
                    @for (var pn = Model.Pagination.LeftMostPage; pn < Model.Pagination.LeftMostPage + Model.Pagination.PageRange; pn++)
                    {
                        @if (Model.Pagination.CurrentPage == pn)
                        {
                            // Convert displayed page numbers to 1-based and not 0-based.
                            <buttonn type="button" class="btn bg-white text-purple ">@(pn + 1)</buttonn>
                        }
                        else
                        {
                            @*@Html.ActionLink((pn + 1).ToString(), "PageAsync", "FichaProducto", new { paging = @pn }, new { @class = "btn bg-purple text-white" })*@
                            <button type="button" class="btn bg-purple text-white btn-paging" data-paging="@pn">@(pn + 1)</button>
                        }
                    }
                    @if (Model.Pagination.CurrentPage < Model.Pagination.PageCount - 1)
                    {
                        @*@Html.ActionLink(">", "PageAsync", "FichaProducto", new { paging = "next" }, new { @class = "btn btn-secondary bg-purple text-white" })*@
                        <button type="button" class="btn bg-purple text-white btn-paging" data-paging="next">&gt;</button>
                    }
                    else
                    {
                        <buttonn type="button" class="btn bg-purple-05 text-gray-05 disabled">&gt;</buttonn>
                    }
                </div>
                <div class="btn-group btn-group-sm" role="group" aria-label="Third group">
                    @if (Model.Pagination.CurrentPage < Model.Pagination.PageCount - 1)
                    {
                        @*@Html.ActionLink(">|", "PageAsync", "FichaProducto", new { paging = Model.pageCount - 1 }, new { @class = "btn btn-secondary bg-purple text-white" })*@
                        <button type="button" class="btn btn-secondary bg-purple text-white btn-paging" data-paging="@(Model.Pagination.PageCount - 1)">&gt;|</button>
                    }
                    else
                    {
                        <buttonn type="button" class="btn bg-purple-05 text-gray-05 disabled">&gt;|</buttonn>
                    }
                </div>
            </div>

        }
    </div>
</div>
